@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@model IPagedList<WebApplication10.Models.Product>
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .resimSlider {
        height: 300px;
    }
    .txt{
        font-family: 'Quicksand', sans-serif;
    }
    .product-image-wrapper {
    border: 1px solid purple;
    overflow: hidden;
    margin-bottom: 30px;
}

    .single-products {
        position: relative;
    }

    .productinfo {
        position: relative;
    }

    .features_items {
        overflow: hidden;
    }

    .container,
    .container-fluid,
    .container-sm,
    .container-md,
    .container-lg,
    .container-xl {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
</style>
<br />
<br />
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/ImagesFile/gratis1.jpeg" class="d-block w-100 resimSlider" alt="...">

        </div>
        <div class="carousel-item">
            <img src="/ImagesFile/gratis2.jpeg" class="d-block w-100 resimSlider" alt="...">
        </div>
        <div class="carousel-item">
            <img src="/ImagesFile/gratis3.jpeg" class="d-block w-100 resimSlider" alt="...">
        </div>
        <div class="carousel-item">
            <img src="/ImagesFile/gratis4.jpeg" class="d-block w-100 resimSlider" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
@*<h2 class="title text-center">ÜRÜNLERİMİZ</h2>
@foreach (var item in Model)
{
    <div class="col-sm-4">
        <div class="product-image-wrapper">
            <div class="single-products">
                <div class="productinfo text-center">
                 <th>
                    <img src="~/ImagesFile/@item.Image" width="65" height="110" alt="">
                    <h2>@item.Price</h2>
                    <p class="txt">@item.Name</p>
                    <a href="/Product/Details/@item.Id" class="btn btn-default add-to-cart">Ürün Detay</a>
                   </th>
                </div>
               
            </div>

        </div>
    </div>
}*@
<section>
    <div class="container">
        <div class="row">
           @* @Html.Action("CategoryList","Category");*@
          
            <div class="col-sm-9 padding-right">
                <div class="features_items">
                    <!--features_items-->
                    <h2 class="title text-center">ÜRÜNLERİMİZ</h2>
                    @foreach (var item in Model)
                    {  
                            <div class="col-sm-4">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">

                                        <a href="/Product/Details/@item.Id"><img src="~/ImagesFile/@item.Image" width="65" height="110" alt="" /></a>
                                        <h2>@item.Price</h2>
                                            <p>@item.Name</p>
                                            <a href="/Product/Details/@item.Id" class="btn btn-default add-to-cart">Ürün Detay</a>
                                        </div>

                                    </div>

                                </div>
                            </div>
                    }

                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page}), PagedListRenderOptions.Classic)



                </div><!--features_items-->

              @*  @Html.Action("PopularProduct", "Product")*@

            </div>
        </div>
    </div>
</section>
