@model WebApplication13.Models.Product
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <style>
        .product-details {
            margin-bottom: 40px;
            overflow: hidden;
            margin-top: 10px;
        }

        .view-product {
            position: relative;
        }

        .product-information {
            border: 1px solid purple;
            overflow: hidden;
            padding-bottom: 60px;
            padding-left: 60px;
            padding-top: 60px;
            position: relative;
        }
    </style>
</head><!--/head-->

<body>

    <br />
    <br />
    <br />
    <br />
    <section>
        <div class="container">
            <div class="justify-content-center">
                <div class="col-sm-7 padding-right">


                    <div class="product-details">
                        <!--product-details-->
                        <div class="col-sm-5">
                            <div class="view-product">
                                <img src="~/ImagesFile/@Model.Image" style="width:300px; height:240px; margin-top:20px" alt="@Model.Name" />

                            </div>


                        </div>
                        <div class="col-sm-7">
                            <div class="product-information">

                                <h2> @Model.Name</h2>


                                <span>
                                    <span>@Model.Price TL</span>




                                    <a class="btn btn-fefault cart" style="margin-top:15px" href="/Cart/AddCart/@Model.Id">
                                        <i class="fa fa-shopping-cart"></i>
                                        Sepete Ekle
                                    </a>
                                </span>

                                <p><b>Stok:</b> @Model.Stock</p>
                                <p><b>Popüler:</b> @Model.Popular</p>
                                <p><b>Onay:</b> @Model.IsApproved</p>
                                <p><b>Açıklama:</b> @Model.Description</p>
                                <a href=""><img src="~/images/product-details/share.png" class="share img-responsive" alt="" /></a>
                            </div><!--/product-information-->
                        </div>
                    </div><!--/product-details-->


                </div>
            </div>
        </div>
    </section>





    <script src="~/eshop/js/jquery.js"></script>
    <script src="~/eshop/js/price-range.js"></script>
    <script src="~/eshop/js/jquery.scrollUp.min.js"></script>
    <script src="~/eshop/js/bootstrap.min.js"></script>
    <script src="~/eshop/js/jquery.prettyPhoto.js"></script>
    <script src="~/eshop/js/main.js"></script>
</body>
</html>

